<section
  class="landing-section bg-black w-full h-screen text-center relative overflow-hidden flex flex-col items-center justify-center"
  data-header-color="white"
>
  <header class="z-30 relative w-full">
    <h2 class="text-black pt-20 text-[40px] font-medium">Model 3</h2>
    <p class="text-black text-sm">Starting at $32,740</p>
    <p class="text-black text-sm">After Federal Tax Credit</p>
  </header>

  <footer
    class="z-30 relative flex flex-col flex-grow justify-end pb-20 text-white w-full"
  >
    <div class="flex justify-center gap-x-4">
      <a
        href="#"
        class="rounded text-sm font-medium px-20 py-2 bg-white text-black flex items-center transition-colors hover:bg-black hover:text-white"
      >
        Explore Inventory
      </a>
      <a
        href="#"
        class="bg-gray-800 rounded text-sm font-medium px-20 py-2 flex items-center transition-colors hover:bg-black hover:text-white"
      >
        Custom Order
      </a>
    </div>
  </footer>

  <div class="absolute top-0 bottom-0 z-10 w-full">
    <img
      src="/public/model3.avif"
      alt="tesla model3"
      class="object-center object-cover w-full h-full"
    />
  </div>
</section>
